.card-img-top {
        width: 100%;
        height: 333px;
        object-fit: cover;
      }
      .card-img-logo {
        width: 6%;
        height: 80px;
        object-fit: fill;
        border-radius: 100%;
      }
      body {
        background-color: white;
        color: black;
      }
      body.dark-mode {
        background-color: black;
        color: white;
      }
      .bg-black {
        background-color: black;
      }
      .bg-light {
        background-color: white;
      }
      .card {
        transition: background-color 0.3s, color 0.3s;
      }